@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'glitch-goblin';
  src: url('/server/public/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
};

@font-face {
  font-family: 'Roboto';
  src: url('/server/public/fonts/Roboto-Regular.ttf') format('truetype')
}


@media only screen and (max-width: 600px) {
  .profile{
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .profile h2 {
    font-size: 4rem;
    padding-left: 0px;
  }
  .img-div {
    margin-left:auto;
    margin-right: auto;
  }
  .profile  img {
    width: 300px;
  }
  .interests {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1040px) {
  .skills {
    flex-direction: column;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
  }
  .about, .languages {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
  }

  .languages {
    margin-top: 40px;
    font-size: 1rem;
  }
}